.score-box {
   display: flex;
   justify-content: center;
   position: relative;
   margin: 0 auto;
 }
 
 .arrow-icon {
    opacity: 1.0;
    margin-bottom: 3px;
 }

 h3.score-text {
   font-size: 25px;
 }
 h3.status-text{
   margin: 0px;
   padding: 0px;
   color: red;
 }